@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
//=================================
//             reset
//=================================
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: top;
}

li {
  list-style: none;
}

//=================================
//        color variables
//=================================
:root {
  --color-black: #242222;
  --color-white: #ffffff;
  --color-white-blue: #f5f5f5;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
  --color-red: #dc3545;
  --color-pink: #d63384;
  --color-orange: #f35129;
  --color-peach: #f07474;
  --color-yellow: #fffd61;
  --color-dark-yellow: #ffc107;
  --color-beige: #f5f5dc;
  --color-blue: #0d6efd;
  --color-green: #198754;
  --color-sky: #5dbdfd;
  --color-sky-blue: #cfe2ff;

  --color-dark-red: #ac0b0b;
  --color-dark-orange: #c41c00;
  --color-dark-blue: #1b1b1f;

  --color-light-red: #f8d7da;
  --color-light-peach: #e06c75;
  --color-light-green: #d1e7dd;
  --color-light-blue: #eff0ff;
  --color-light-sky-blue: #cff4fc;
}

//=================================
//            common
//=================================
.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  margin-top: 65.97px;
  padding: 1.5rem;
}

.page-title {
  margin: 1.5rem;
  text-align: center;
}

//=================================
//              btn
//=================================
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  width: 100%;
  margin: 0 0 0.75rem;
  padding: 0.75rem 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);

  border-radius: 0.5rem;
  transition: all 0.1s ease-in-out;
  // font-weight: 500;
  cursor: pointer;

  &:hover {
    color: var(--color-white);
    border-color: var(--color-orange);
    background-color: var(--color-orange);
  }

  &.checked {
    color: var(--color-white);
    border-color: var(--color-orange);
    background-color: var(--color-orange);
  }

  &.btn-md {
    max-width: 128px;
    min-height: 42px;
    font-size: 1rem;
  }

  &.btn-lg {
    max-width: 300px;
    min-height: 62px;
    font-size: 1.1rem;
  }
}

//=================================
//          item-card
//=================================
.item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12.5%;

  .item-card {
    position: relative;
    width: 25%;
    margin: 1rem 0 3rem;

    &:hover .item-img {
      animation: zoom 0.5s ease;
    }

    .item-img {
      box-shadow: 5px 5px 5px var(--color-gray-500);
    }

    h4 {
      padding: calc(0.5rem + 4px) 0 0.5rem 0;
      font-family: "Lobster", cursive;
      font-size: 2rem;
    }

    h5 {
      padding: 0.5rem 0;
      font-size: 1rem;
      font-weight: bold;
    }

    p {
      padding: 0.25rem 0;
      font-size: 0.8rem;
      font-weight: 500;
      text-transform: capitalize;
      color: var(--color-gray-700);
    }

    .new_mark {
      position: absolute;
      top: -6%;
      right: -20%;
      width: 25%;
    }

    .price {
      text-align: center;
      font-size: 1rem;
      color: var(--color-orange);
      border: 3px solid transparent;
    }

    .sold-out {
      text-align: center;
      font-size: 1rem;
      color: var(--color-dark-red);
      border: 3px solid var(--color-dark-red);
    }

    .item-hr {
      margin: 0.5rem 0;
      height: 1px;
      border-width: 1px 0px 0px 0px;
      border-style: solid;
      border-color: var(--color-gray-500);
    }
  }
}

//=================================
//          loading-page
//=================================
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 70px;
  height: 70px;
  border: 7px solid var(--color-gray-400);
  border-top: 7px solid var(--color-orange);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

//=================================
//           error-page
//=================================
.error-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h3 {
    margin-bottom: 1rem;
  }
}

//=================================
//            header
//=================================
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px -4px var(--color-black);

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
    padding: 0.8rem 2rem;

    .left-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      font-size: 1.2rem;

      .logo {
        width: 40px;
        margin-right: 1rem;
      }
    }

    .right-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      color: var(--color-gray-500);

      span {
        display: flex;
        align-items: center;

        .fa-coins,
        .fa-heart,
        .fa-shopping-cart {
          cursor: pointer;

          &:hover {
            color: var(--color-orange);
          }
        }
      }

      .sign-in,
      .sign-out {
        all: unset;
        font-weight: 500;
        padding: 0.5rem;
        border: 2px solid var(--color-gray-500);
        border-radius: 0.5rem;
        color: var(--color-gray-500);
        cursor: pointer;

        &:hover {
          color: var(--color-white);
          background-color: var(--color-orange);
          border: 2px solid var(--color-orange);
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      font-weight: 500;

      &:hover {
        color: var(--color-orange);
      }
    }
  }

  .user {
    user-select: none;
    transition: 0.3s;

    div {
      display: flex;
      align-items: center;
      position: relative;
      color: var(--color-orange);
      font-weight: 600;
      cursor: pointer;

      img {
        width: 38px;
        margin: 0 0.5rem;
        border: 2px solid transparent;
        border-radius: 50%;
        background-image: linear-gradient(#fff, #fff),
          linear-gradient(to right, red 0%, orange 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
      }

      // .fa-angle-down {
      //   margin-left: 0.5rem;
      // }

      nav {
        position: absolute;
        top: 150%;
        right: 0;
        z-index: 1;
        width: 120px;
        box-shadow: 0 6px 12px -4px var(--color-gray-500);
        border-radius: 0.5rem;
        background-color: var(--color-white-blue);
        color: var(--color-black);

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          padding: 1rem;
          cursor: auto;
        }

        ul li {
          padding: 0.5rem;
          text-align: center;
        }
      }
    }
  }
}

//=================================
//          home-page
//=================================
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.home-page {
  //=================================
  //            slider
  //=================================
  hr {
    border: 1px solid var(--color-orange);
  }
  .slider {
    position: relative;
    padding-bottom: 28.1%;

    .slide {
      position: absolute;
      opacity: 0;
      transition: 2s;

      .slide-text {
        position: absolute;
        font-family: "Lobster", cursive;
        font-size: 2rem;
        // color: #c41c00;

        &.slide-text01 {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--color-yellow);
          text-shadow: 3px 3px 3px var(--color-gray-900);
        }

        &.slide-text02 {
          top: 2rem;
          left: 2rem;
          color: var(--color-pink);
          text-shadow: 3px 3px 3px var(--color-gray-900);
        }

        &.slide-text03 {
          right: 2rem;
          bottom: 2rem;
          color: var(--color-beige);
          text-shadow: 3px 3px 3px var(--color-gray-900);
        }

        &.slide-text04 {
          top: 2rem;
          right: 2rem;
          color: var(--color-white);
          text-shadow: 3px 3px 3px var(--color-dark-yellow);
        }

        &.slide-text05 {
          left: 2rem;
          bottom: 2rem;
          color: var(--color-white);
          text-shadow: 3px 3px 3px var(--color-orange);
        }
      }
    }

    .slide-active {
      opacity: 1;
    }
  }

  //=================================
  //            piece
  //=================================
  .piece {
    // background-color: red;

    display: flex;
    align-items: center;

    .piece-left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;

      h2 {
        font-size: 2rem;
        border-bottom: 2px solid var(--color-black);
        user-select: none;
      }
    }

    .piece-right {
      display: flex;
      gap: 3rem;
      width: 75%;

      .piece-watercolor,
      .piece-oilcolor {
        width: 50%;
      }

      h3 {
        user-select: none;
        font-family: "Lobster", cursive;
        font-size: 1.5rem;
        text-align: center;
        padding: 2rem 0;
      }

      img {
        box-shadow: 5px 5px 10px var(--color-gray-500);
      }

      img:hover {
        animation: zoom 0.5s ease;
      }

      p {
        font-family: "Lobster", cursive;
        padding: 2rem 0;
      }
    }
  }

  //=================================
  //          new-arrival
  //=================================
  .new-arrival {
    h2 {
      padding: 2rem 0;
      font-family: "Lobster", cursive;
      font-size: 2rem;
      text-align: center;
      user-select: none;
    }
  }
}

//=================================
//          shop-page
//=================================
.shop-page {
  .banner {
    position: relative;

    .banner-text {
      position: absolute;
      font-family: "Lobster", cursive;
      font-size: 2rem;
      text-transform: capitalize;
      user-select: none;
      right: 2rem;
      bottom: 1rem;

      &.all {
        color: var(--color-beige);
        text-shadow: 3px 3px 3px var(--color-dark-yellow);
      }
      &.watercolor {
        color: var(--color-white);
        text-shadow: 3px 3px 3px var(--color-sky);
      }
      &.oilcolor {
        color: var(--color-beige);
        text-shadow: 3px 3px 3px var(--color-green);
      }
      &.etc {
        color: var(--color-white);
        text-shadow: 3px 3px 3px var(--color-gray-600);
      }
    }
  }
  .products {
    .category-btn-group {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;

      button {
        margin-bottom: 0;
        font-family: "Lobster", cursive;
        font-size: 1.7rem;
      }
    }

    .sort-btn-group {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      justify-content: flex-end;

      button {
        width: 102px;
        margin-bottom: 5rem;
        font-family: "Lobster", cursive;
        font-size: 1rem;
      }
    }
  }
}

//=================================
//         sign-up-page
//=================================
.sign-up-page {
  form {
    max-width: 300px;
    margin: 0 auto;

    & div {
      display: flex;
      flex-direction: column;

      label {
        // font-weight: 500;
        margin-bottom: 0.25rem;
        text-align: left;

        span {
          color: var(--color-orange);
        }
      }

      input {
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.5rem 1rem;
        border: 1px solid #bbb;
        border-radius: 0.5rem;
        background-color: white;
        font-size: 1rem;
      }
    }

    & div:nth-child(4) {
      margin-bottom: 1.5rem;
    }
  }
}
