@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
//=================================
//             reset
//=================================
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: top;
}

li {
  list-style: none;
}

//=================================
//        color variables
//=================================
:root {
  --color-black: #242222;
  --color-white: #ffffff;
  --color-white-blue: #f5f5f5;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
  --color-red: #dc3545;
  --color-pink: #d63384;
  --color-orange: #f35129;
  --color-peach: #f07474;
  --color-yellow: #fffd61;
  --color-dark-yellow: #ffc107;
  --color-beige: #f5f5dc;
  --color-blue: #0d6efd;
  --color-green: #198754;
  --color-sky: #5dbdfd;
  --color-sky-blue: #cfe2ff;

  --color-dark-red: #ac0b0b;
  --color-dark-orange: #c41c00;
  --color-dark-blue: #1b1b1f;

  --color-light-red: #f8d7da;
  --color-light-peach: #e06c75;
  --color-light-green: #d1e7dd;
  --color-light-blue: #eff0ff;
  --color-light-sky-blue: #cff4fc;
}

//=================================
//            common
//=================================
.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  margin-top: 65.97px;
  padding: 1.5rem;
}

.page-title {
  margin: 1.5rem;
  text-align: center;
}

//=================================
//              btn
//=================================
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  width: 100%;
  margin: 0 0 0.75rem;
  padding: 0.75rem 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    color: var(--color-white);
    border-color: var(--color-orange);
    background-color: var(--color-orange);
  }

  &.checked {
    color: var(--color-white);
    border-color: var(--color-orange);
    background-color: var(--color-orange);
  }

  &.btn-md {
    max-width: 138px;
    min-height: 42px;
    font-size: 1rem;
  }

  &.btn-lg {
    max-width: 300px;
    min-height: 62px;
    font-size: 1.1rem;
  }
}

//=================================
//      item-box  item-crad
//=================================
.item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12.5%;

  .item-card {
    position: relative;
    width: 25%;
    margin: 1rem 0 3rem;

    &:hover .item-img {
      animation: zoom 0.5s ease;
    }

    .item-img {
      box-shadow: 5px 5px 5px var(--color-gray-500);
    }

    h4 {
      padding: calc(0.5rem + 4px) 0 0.5rem 0;
      font-family: "Lobster", cursive;
      font-weight: 300;
      font-size: 2rem;
    }

    h5 {
      padding: 0.5rem 0;
      font-size: 1rem;
      font-weight: bold;
    }

    p {
      padding: 0.25rem 0;
      font-size: 0.8rem;
      font-weight: 500;
      text-transform: capitalize;
      color: var(--color-gray-700);

      &.paintings-type {
        &.watercolor {
          color: var(--color-sky);
        }
        &.oilcolor {
          color: var(--color-pink);
        }
      }
    }

    .new_mark {
      position: absolute;
      top: -6%;
      right: -20%;
      width: 25%;
    }

    .price {
      text-align: center;
      font-size: 1rem;
      color: var(--color-orange);
      border: 3px solid transparent;
    }

    .sold-out {
      text-align: center;
      font-size: 1rem;
      color: var(--color-dark-red);
      border: 3px solid var(--color-dark-red);
    }

    .item-hr {
      margin: 0.5rem 0;
      height: 1px;
      border-width: 1px 0px 0px 0px;
      border-style: solid;
      border-color: var(--color-gray-500);
    }
  }
}

//=================================
//        item-detail-box
//=================================
.item-detail-box {
  display: flex;
  gap: 2rem;

  .item-detail-left {
    width: 60%;

    .react-transform-wrapper {
      box-shadow: 5px 5px 5px var(--color-gray-500);
    }
  }

  .item-detail-right {
    width: 40%;

    h4 {
      font-family: "Lobster", cursive;
      font-weight: 300;
      font-size: 2rem;
    }

    hr {
      margin: 1rem 0;
      height: 1px;
      border-width: 1px 0px 0px 0px;
      border-style: solid;
      border-color: var(--color-gray-500);
    }

    table {
      width: 100%;
      caption {
        display: none;
      }

      th {
        width: 45%;
        padding: 0.75rem 0;
        text-align: left;
      }
      td {
        padding-left: 1rem;

        &.producer {
          font-weight: 500;
        }

        &.paintings-type {
          font-weight: 500;
          text-transform: capitalize;

          &.watercolor {
            color: var(--color-sky);
          }

          &.oilcolor {
            color: var(--color-pink);
          }
        }

        &.size,
        &.production-data {
          color: var(--color-gray-500);
        }

        span {
          font-weight: 500;
          &.price {
            font-size: 1rem;
            color: var(--color-orange);
          }
          &.sold-out {
            font-size: 1rem;
            color: var(--color-dark-red);
          }
        }
      }
    }

    .btn-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .fa-heart {
        color: var(--color-gray-500);
        font-size: 1.1rem;
        margin: 0 1rem;
        &.checked {
          color: var(--color-red);
        }
      }

      .fa-shopping-cart {
        color: var(--color-gray-500);
        font-size: 1.1rem;
        margin-left: 1rem;
        &.checked {
          color: var(--color-sky);
        }
      }
    }
  }
}

//=================================
//         pagination-box
//=================================
.pagination-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .page-button {
    padding: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    transition: all 0.1s ease-in-out;
    background-color: var(--color-white);
    cursor: pointer;

    &[disabled] {
      color: var(--color-gray-500);
      cursor: revert;
      &:hover {
        border: 2px solid rgba(0, 0, 0, 0.1);
        background: var(--color-white);
        cursor: revert;
      }
    }

    &[aria-current] {
      border: 2px solid transparent;
      background: var(--color-orange);
      color: var(--color-white);
    }
  }
}

//=================================
//          loading-page
//=================================
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 70px;
  height: 70px;
  border: 7px solid var(--color-gray-400);
  border-top: 7px solid var(--color-orange);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

//=================================
//           error-page
//=================================
.error-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h3 {
    margin-bottom: 1rem;
  }
}

//=================================
//            header
//=================================
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px -4px var(--color-black);

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
    padding: 0.8rem 2rem;

    .left-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      font-size: 1.2rem;

      .logo {
        width: 40px;
        margin-right: 1rem;
      }
    }

    .right-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      color: var(--color-gray-500);

      span {
        display: flex;
        align-items: center;

        .fa-coins,
        .fa-heart,
        .fa-shopping-cart {
          font-size: 1.1rem;
          cursor: pointer;
        }

        .fa-coins {
          &:hover {
            color: var(--color-dark-yellow);
          }
        }

        .fa-heart {
          &:hover {
            color: var(--color-red);
          }
        }

        .fa-shopping-cart {
          &:hover {
            color: var(--color-sky);
          }
        }
      }

      .sign-in,
      .sign-out {
        all: unset;
        font-weight: 500;
        padding: 0.5rem;
        border: 2px solid var(--color-gray-500);
        border-radius: 0.5rem;
        color: var(--color-gray-500);
        cursor: pointer;

        &:hover {
          color: var(--color-white);
          background-color: var(--color-orange);
          border: 2px solid var(--color-orange);
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      font-weight: 500;

      &:hover {
        color: var(--color-orange);
      }
    }
  }

  .user {
    user-select: none;
    transition: 0.3s;

    div {
      display: flex;
      align-items: center;
      position: relative;
      color: var(--color-orange);
      font-weight: 600;
      cursor: pointer;

      img {
        width: 38px;
        margin: 0 0.5rem;
        border: 2px solid transparent;
        border-radius: 50%;
        background-image: linear-gradient(#fff, #fff),
          linear-gradient(to right, red 0%, orange 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
      }

      nav {
        position: absolute;
        top: 150%;
        right: 0;
        z-index: 1;
        width: 120px;
        box-shadow: 0 6px 12px -4px var(--color-gray-500);
        border-radius: 0.5rem;
        background-color: var(--color-white-blue);
        color: var(--color-black);

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          padding: 1rem;
          cursor: auto;
        }

        ul li {
          padding: 0.5rem;
          text-align: center;
        }
      }
    }
  }
}

//=================================
//          home-page
//=================================
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.home-page {
  //=================================
  //            slider
  //=================================
  hr {
    border: 1px solid var(--color-orange);
  }
  .slider {
    position: relative;
    padding-bottom: 28.1%;

    .slide {
      position: absolute;
      opacity: 0;
      transition: 2s;

      .slide-text {
        position: absolute;
        font-family: "Lobster", cursive;
        font-weight: 300;
        font-size: 2rem;

        &.slide-text01 {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--color-yellow);
          text-shadow: 3px 3px 3px var(--color-gray-900);
        }

        &.slide-text02 {
          top: 2rem;
          left: 2rem;
          color: var(--color-pink);
          text-shadow: 3px 3px 3px var(--color-gray-900);
        }

        &.slide-text03 {
          right: 2rem;
          bottom: 2rem;
          color: var(--color-beige);
          text-shadow: 3px 3px 3px var(--color-gray-900);
        }

        &.slide-text04 {
          top: 2rem;
          right: 2rem;
          color: var(--color-white);
          text-shadow: 3px 3px 3px var(--color-dark-yellow);
        }

        &.slide-text05 {
          left: 2rem;
          bottom: 2rem;
          color: var(--color-white);
          text-shadow: 3px 3px 3px var(--color-orange);
        }
      }
    }

    .slide-active {
      opacity: 1;
    }
  }

  //=================================
  //            piece
  //=================================
  .piece {
    // background-color: red;

    display: flex;
    align-items: center;

    .piece-left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;

      h2 {
        font-size: 2rem;
        border-bottom: 2px solid var(--color-black);
        user-select: none;
      }
    }

    .piece-right {
      display: flex;
      gap: 3rem;
      width: 75%;

      .piece-watercolor,
      .piece-oilcolor {
        width: 50%;
      }

      h3 {
        user-select: none;
        font-family: "Lobster", cursive;
        font-weight: 300;
        font-size: 1.5rem;
        text-align: center;
        padding: 2rem 0;
      }

      img {
        box-shadow: 5px 5px 10px var(--color-gray-500);
      }

      img:hover {
        animation: zoom 0.5s ease;
      }

      p {
        font-family: "Lobster", cursive;
        font-weight: 300;
        padding: 2rem 0;
      }
    }
  }

  //=================================
  //          new-arrival
  //=================================
  .new-arrival {
    h2 {
      padding: 2rem 0;
      font-family: "Lobster", cursive;
      font-weight: 300;
      font-size: 2rem;
      text-align: center;
      user-select: none;
    }
  }
}

//=================================
//          shop-page
//=================================
.shop-page {
  .banner {
    position: relative;

    .banner-text {
      position: absolute;
      font-family: "Lobster", cursive;
      font-weight: 300;
      font-size: 2rem;
      text-transform: capitalize;
      user-select: none;
      right: 2rem;
      bottom: 1rem;

      &.all {
        color: var(--color-beige);
        text-shadow: 3px 3px 3px var(--color-dark-yellow);
      }
      &.watercolor {
        color: var(--color-white);
        text-shadow: 3px 3px 3px var(--color-sky);
      }
      &.oilcolor {
        color: var(--color-beige);
        text-shadow: 3px 3px 3px var(--color-green);
      }
      &.etc {
        color: var(--color-white);
        text-shadow: 3px 3px 3px var(--color-gray-600);
      }
    }
  }
  .products {
    .category-btn-group {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;

      button {
        margin-bottom: 0;
        font-family: "Lobster", cursive;
        font-weight: 300;
        font-size: 1.7rem;
      }
    }

    .sort-btn-group {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      justify-content: flex-end;

      button {
        width: 102px;
        margin-bottom: 5rem;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }
}

//=================================
//        shop-detail-page
//=================================
.shop-detail-page {
  hr {
    margin: 2rem 0;
    border: 1px solid var(--color-orange);
  }

  .product-notice {
    width: 72.5%;
    min-width: 720px;
    margin: 0 auto;

    h2 {
      padding-bottom: 2rem;
      font-family: "Lobster", cursive;
      font-weight: 300;
      font-size: 2rem;
      text-align: center;
      user-select: none;
    }

    .btn-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      gap: 1rem;

      button {
        font-size: 1.1rem;
      }
    }

    .qna {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .qna-header {
        width: 100%;
        border-top: 2px solid var(--color-gray-500);
        border-bottom: 1px solid var(--color-gray-500);

        ul {
          display: flex;

          li {
            padding: 1rem 0;
            text-align: center;
            font-weight: 500;

            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(4) {
              width: 15%;
            }

            &:nth-child(2) {
              width: 55%;
            }
          }
        }
      }

      .qna-body {
        width: 100%;
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--color-gray-500);
        user-select: none;

        ul {
          display: flex;
          flex-direction: column;

          .qna-nonexistent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 5.675rem;
            color: var(--color-gray-500);

            .fa-exclamation-circle {
              font-size: 1.5rem;
            }
          }

          li {
            width: 100%;

            text-align: center;
            cursor: pointer;

            &:hover {
              background-color: var(--color-white-blue);
            }

            & > div {
              display: flex;
              padding: 1rem 0;
              :nth-child(1),
              :nth-child(3),
              :nth-child(4) {
                width: 15%;
              }

              :nth-child(2) {
                width: 55%;
                padding-left: 1rem;
                text-align: left;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                &.secret-title {
                  color: var(--color-gray-500);

                  .fa-lock {
                    width: 30px;
                  }
                }
              }
            }

            .view {
              display: none;
              padding: 0 17% 0;
              border-top: 1px solid var(--color-gray-300);
              border-bottom: 1px solid var(--color-gray-300);
              background-color: var(--color-white-blue);

              & > div {
                display: flex;
                width: 77%;
                padding: 1rem 0;
                text-align: left;

                &:nth-child(2) {
                  width: 100%;
                  flex-direction: row;
                  flex-wrap: wrap;
                  border-top: 1px solid var(--color-gray-300);

                  div {
                    width: 72%;
                    padding: 0;
                    white-space: initial;
                  }

                  .fa-replyd {
                    width: 36px;
                    height: 22px;
                    color: var(--color-orange);
                  }
                }

                &:nth-child(3) {
                  justify-content: flex-end;
                }
              }

              &.show {
                display: block;
              }

              .reply-box {
                display: flex;

                label {
                  width: 10%;
                  margin-right: 1rem;
                }

                textarea {
                  width: 67%;
                  max-width: 67%;
                  margin-right: 1.5rem;
                  padding: 0.5rem 1rem;
                  border: 1px solid #bbb;
                  border-radius: 0.5rem;
                  background-color: white;
                  font-size: 1rem;
                }

                button {
                  font-weight: 500;
                  height: 44px;
                }
              }
            }
          }
        }
      }
    }

    .qna-write {
      user-select: none;
      .radio-group {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 2rem;

        input,
        label {
          cursor: pointer;
        }

        label {
          margin-right: 1.5rem;
        }
      }

      .textarea-box {
        margin-bottom: 2rem;
        textarea {
          width: 100%;
          height: 164px;
          padding: 0.5rem 1rem;
          border: 1px solid #bbb;
          border-radius: 0.5rem;
          background-color: white;
          font-size: 1rem;
        }
      }

      .btn-group {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;

        button {
          margin-bottom: 0;
        }
      }
    }
  }
}

//=================================
//         sign-up-page
//=================================
.sign-up-page {
  padding: 4rem 0;
  form {
    max-width: 300px;
    margin: 0 auto;

    & div {
      display: flex;
      flex-direction: column;

      label {
        // font-weight: 500;
        margin-bottom: 0.25rem;
        text-align: left;

        span {
          color: var(--color-orange);
        }
      }

      input {
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.5rem 1rem;
        border: 1px solid #bbb;
        border-radius: 0.5rem;
        background-color: white;
        font-size: 1rem;
      }
    }

    & div:nth-child(4) {
      margin-bottom: 1.5rem;
    }
  }
}

//=================================
//            my-page
//=================================
.my-page {
  display: flex;
  gap: 4rem;
  padding: 4rem 0;

  .my-page-left {
    width: 15%;
    min-width: 172.8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .fa-user,
    .fa-coins,
    .fa-heart,
    .fa-shopping-cart,
    .fa-credit-card {
      margin-left: 1rem;
      font-size: 1.1rem;
      color: var(--color-gray-500);
    }

    .fa-user {
      &.checked {
        color: var(--color-beige);
      }
    }

    .fa-coins {
      &.checked {
        color: var(--color-dark-yellow);
      }
    }

    .fa-heart {
      &.checked {
        color: var(--color-red);
      }
    }

    .fa-shopping-cart {
      &.checked {
        color: var(--color-sky);
      }
    }

    .fa-credit-card {
      &.checked {
        color: var(--color-green);
      }
    }
  }

  .my-page-right {
    width: 85%;
    min-width: 768px;

    h2 {
      padding: 0 2rem;
    }

    hr {
      margin: 1rem 0;
      height: 1px;
      border-width: 1px 0px 0px 0px;
      border-style: solid;
      border-color: var(--color-gray-500);
    }

    section {
      padding: 2rem;
      border-radius: 0.5rem;
      box-shadow: 0 6px 12px -4px var(--color-gray-500);
    }

    .my-profile-page {
      .my-profile-section {
        .title-part {
          text-align: center;

          h3 {
            font-weight: 500;
            margin-bottom: 0.5rem;
          }
          p {
            color: var(--color-gray-600);
            margin-bottom: 1rem;
          }
        }

        form {
          max-width: 300px;
          margin: 2rem auto;

          div {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.75rem;

            label {
              margin-bottom: 0.25rem;
              text-align: left;
            }

            input {
              width: 100%;
              margin-bottom: 0.5rem;
              padding: 0.5rem 1rem;
              border: 1px solid #bbb;
              border-radius: 0.5rem;
              background-color: white;
              font-size: 1rem;

              &[disabled] {
                background-color: var(--color-white-blue);
              }
            }
          }
        }

        .btn-group {
          button {
            margin-bottom: 0;
          }
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    .my-mileage-section {
      .title-part {
        text-align: center;

        h3 {
          font-weight: 500;
          margin-bottom: 0.5rem;
        }
      }

      form {
        max-width: 300px;
        margin: 2rem auto;

        div {
          display: flex;
          flex-direction: column;
          margin-bottom: 0.75rem;

          label {
            margin-bottom: 0.25rem;
            text-align: left;
          }

          input {
            width: 100%;
            margin-bottom: 0.5rem;
            padding: 0.5rem 1rem;
            border: 1px solid #bbb;
            border-radius: 0.5rem;
            background-color: white;
            font-size: 1rem;

            text-align: right;
            font-weight: 500;
            color: var(--color-orange);

            &[disabled] {
              background-color: var(--color-white-blue);
            }
          }
        }
      }

      .btn-group {
        button {
          margin-bottom: 0;
        }
        display: flex;
        justify-content: flex-end;
      }
    }

    .my-fovorite-section {
      label {
        height: 20px;
      }
      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

      .title-part {
        h3 {
          font-weight: 500;
          margin-bottom: 0.5rem;
        }
      }

      .favorite-nonexistent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding: 3.675rem;
        color: var(--color-gray-500);

        .fa-exclamation-circle {
          font-size: 1.5rem;
        }

        button {
          margin-top: 1.25rem;
        }
      }

      .checkbox-group {
        display: flex;
        align-items: center;
        margin: 1rem 0;

        button {
          width: 178px;
          margin-left: 1rem;
          margin-bottom: 0;
        }
      }

      ul {
        margin: 2rem 0;
        border-top: 2px solid var(--color-gray-500);

        li {
          display: flex;
          height: auto;
          padding: 1rem 0;

          border-bottom: 1px solid var(--color-gray-500);

          .img-box {
            a {
              display: inline-block;
              width: 178px;
              margin: 0 1rem;
            }
            img {
              box-shadow: 5px 5px 5px var(--color-gray-500);
            }
          }

          .product-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.75rem;
            margin: 0 1rem;

            h4 {
              font-family: "Lobster", cursive;
              font-weight: 300;
              font-size: 1.2rem;
            }

            p {
              span {
                margin-right: 1rem;

                &.producer {
                  font-weight: 500;
                }

                &.paintings-type {
                  display: inline-block;
                  color: var(--color-black);
                  text-transform: capitalize;
                  font-weight: 500;

                  &.oilcolor {
                    color: var(--color-pink);
                  }

                  &.watercolor {
                    color: var(--color-sky);
                  }
                }

                &.size {
                  font-size: 0.8rem;
                  color: var(--color-gray-600);
                }
              }

              .is-new {
                width: 20px;
                margin-right: 1rem;
              }

              &.production-data {
                font-size: 0.8rem;
                color: var(--color-gray-600);
              }

              &.price {
                font-weight: 500;
                color: var(--color-orange);
              }

              &.sold-out {
                font-weight: 500;
                color: var(--color-dark-red);
              }
            }
          }
        }
      }
    }
  }
}
